
body {
   min-height: 100vh; 
  background: linear-gradient(to bottom, #282828, #ff6600);
  margin: 0;
  color: white;
  font-family:verdana;
  border-left: 20px solid #222;
  border-right: 20px solid #222;
  margin: 0
}
.hero {
  background:linear-gradient( to bottom, #000000 0%, #ff7900 100%);
  color: white;
  text-align: center;
  padding: 80px 20px;
  text-shadow: 10px 10px 10px Black;
}
.separator-hero {
  border:solid;
  border-color:black;
  height: 5px;
  background: black;
  width: 99%;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px;
}

.about {
  color:;
  text-align: center;
  Margin-top: 70px;
  margin-bottom: 70px;
  text-shadow: 10px 10px 10px Black;
}
.separator-activities{
  border:solid;
  border-color:black;
  height: 5px;
  background: black;
  width: 50%;
  margin: 0px auto;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 30px 
}
section.activities{
  text-align:center;
  text-shadow: 10px 10px 10px Black;
}
.separator-activities-2 {
  background:black;
  border: solid;
  border-color:black;
  border-radius:5px;   
  margin-bottom: 100px;
  margin-top:70px;
  width:40%;
  height:5px;
  box-shadow: 0px 0px 30px 
}
.cards{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}
.card{
  color:	Black;
  flex: 1;
  background:#664c00;
  padding: 35px;
  border-radius: 12px;
  box-shadow:0 10px 12px #000000;
  min-width:260px;
  transition:0.3s;
  text-decoration:none;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 20px 20px white;
  color:white;
}
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
   .card {
    width: 45%;
    max-width: none;
   }
}
footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 20px 10px;
  margin-top: 300px;
}
