body {
   min-height: 100vh;
   background: linear-gradient(to bottom, #282828, #ff6600);
   margin: 0;
   color:white;
   font-family:verdana;
   border-left: 20px solid #222;
   border-right: 20px solid #222;
   margin: 0;
}
.hero a {
  color: white;           
  text-decoration: none;  
  transition: opacity 0.3s ease;
}
.hero {
  background:linear-gradient( to bottom, #000000 0%, #ff7900 100%);
  color: white;
  text-align: center;
  padding: 80px 20px;
  text-shadow: 10px 10px 10px Black;
}
.separator-hero {
  border:solid;
  border-color:black;
  height: 5px;
  background: black;
  width: 99%;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px;
}
.nav{
  display:flex;
  justify-content: space-between;
  aligne-items: center;
}
.nav-links{
  list-style:none;
  display: flex;
  gap: 1.5rem;
}  
.nav-links a{
  text-decoration:none;
  color:white;
  font-size: 1rem;
}
.about {
  text-align: center;
  Margin-top: 70px;
  margin-bottom: 70px;
  text-shadow: 10px 10px 10px Black;
}
.separator-activities{
  border:solid;
  border-color:black;
  height: 5px;
  background: black;
  width: 50%;
  margin: 0px auto;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 30px 
}
section.activities{
  text-align:center;
  text-shadow: 10px 10px 10px Black;
}
.separator-activities-2 {
  background:black;
  border: solid;
  border-color:black;
  border-radius:5px;   
  margin-bottom: 100px;
  margin-top:70px;
  width:40%;
  height:5px;
  box-shadow: 0px 0px 30px 
}
.cards{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}
.card{
  color:	Black;
  flex: 1;
  background:#664c00;
  padding: 35px;
  border-radius: 12px;
  box-shadow:0 10px 12px #000000;
  min-width:260px;
  transition:0.3s;
  text-decoration:none;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 20px 20px white;
  color:white;
} 
.contact {
   text-align:center;
   text-shadow: 10px 10px 10px Black;
   margin-bottom: 200px;
   margin-top: 200px;
}
.btn {
   background-color: #693b1c;
   border: none;
   border-radius: 5px;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 10px 10px 10p #000000;
   transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.btn:hover {
   transform: translateY(-5px);
   box-shadow: 0px 20px 20px white;
   color:white;
}
.cta {
   text-align:center;
   text-shadow: 10px 10px 10px Black;
   margin-top: 200px;
   margin-bottom: Opx;
}
 @media (max-width:1200px) {
   margin-left: 50px;
   margin-right: 50px;
}
footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 20px 10px;
  margin-top: 0px;
}

   
